node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.emulator-data

serviceAccountKey.json

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
